.container {
  width: 310px;
  margin: 10px;
  padding: 80px;
  text-align: center;
  background-color: lightgray;
  color: gray;
}

.description {
  margin: 0 auto;
  padding: 0 0 20px 0;
  width: 250px;
  background-color: white;
}

.avatar {
  width: 100px;
  margin: 30px 0 16px;
  border-radius: 100px;
  border: 1px solid lightgrey;
}

.name {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: black;
}

.tag,
.location {
  margin: 10px;
}

.statsList {
  margin: 0 auto;
  padding: 0;
  width: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.statsListItem {
  list-style: none;
  border: 1px solid lightgrey;
  background-color: whitesmoke;
  padding-top: 30px;
  width: 82px;
  height: 64px;
  display: flex;
  flex-direction: column;
}

.label {
  color: gray;
}

.quantity {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
