.friendList {
  margin: 10px;
  padding: 0;
  width: 470px;
  list-style: none;
}
.item {
  display: flex;
  width: 400px;
  padding: 10px 0 10px 10px;

  margin-bottom: 10px;
  border: 1px solid lightgrey;
  box-shadow: 0 2px 3px 0 gray;
}

.statusName {
  width: 15px;
  height: 15px;
  margin-top: 30px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.avatar {
  padding: 14px;
  border-radius: 14px;
  background-color: darkgrey;
}

.name {
  margin-left: 10px;
  font-size: 26px;
  font-weight: 600;
  color: black;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}
